#root {
  font-family: 'Montserrat', monospace;
  max-width: auto;
  margin: 0 auto;
  padding: 0.3rem;
  text-align: center;

}


/* Iphone-card.css */
.bg1{
  background-color: #14140F;
}
.bg2{
  background-color: #053D38;
}
.bg3{
  background-color: #34675C;
}
.bg4{
  background-color: #A3CCAB;
}
.bg5{
  background-color: #F26800;
}

.cont-bd {
  background-image: url("/assets/iphone/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #FF2878; /* Cor azul como exemplo */
  border-radius: 10px; /* Borda arredondada */
  padding: 0px;
}

.badge{
  font-size: 0.7rem;
  background-color: #00ff00;
  border-radius: 10px; /* Borda arredondada */

}

.img-size-phone{
  height: 270px;
}
.img-size-garantia{
  height: 2rem;
  padding-left: 1rem;
  margin-top: 2rem;
}

.tittle{
  font-size: 2.5rem;
  font-weight: 600;
}

.text-spec{
  font-size: 1.5rem;
  font-weight: 400;
}

.valor-spec{
 
  font-size: 1.6rem;
  font-weight: 800;
}
.text-g{
  color: white;
  height: 1.7rem;
}

.bg-cont{
  background-color: #FF2878;
}




/* teste */
.img-size-phone-1{
  height: 12rem;
  margin-left: 0.3rem;
}
.text-spec-test{
  font-size: 0.7rem;
  font-weight: 400;
}

.bg-cont-1{
  background-color: #FF2878;
  border-radius: 10px; /* Borda arredondada */

}

.center-desk-style{
  margin-top: 1rem;
}

.img-size-garantia-1{
  height: 2rem;
  
  background-color: none;
}

.badge-garantia{
  margin-left: -2rem;
  margin-top: 4rem;
  color: none;
}

.btn-invalid{
  background-color: #e5e5e5;
  text-decoration: line-through;
  color: red;
  
}
.btn-valid{
  border-radius: 10px;
  border-color: #FF2878;
  background-color: white;
  
}

/* Estilos para as cores disponíveis */
.cores-disponiveis li {
  width: 1.2rem; /* largura */
  height: 1.2rem; /* altura */
  border-radius: 50%; /* borda arredondada */
  cursor: pointer; /* Define o cursor como um ponteiro */

  /* Outras propriedades de estilo */
}

/* Estilo para a cor ativa */
.cores-disponiveis li.active {
  border: 2px solid #FF2878;
  
   /* Exemplo: azul */
  /* Outros estilos desejados para a cor ativa */
}

/* Estilos para as cores individuais */
.cor-preto {
  background-color: #4a4c4e;
}


.cor-rosa {
  background-color: #eb9594;
}

.cor-azul {
  background-color: #a0cee7;
}

.cor-verde {
  background-color: #1bb107;
}

.cor-amarelo {
  background-color: #fbff00;
}

.text-cor {
  font-size: 0.7rem;
}


/* MACBOOK */
.img-size-garantia-mac{
  height: 1.5rem;
  background-color: none;
  
}
.text_mac_tittle{
  font-size: 2.5rem;
  font-weight: 600;
  padding-left: 1.2rem;
}

.mac-image{
  height: 8rem;
}

.capacidade-mac-text{
  font-size: 1rem;
  font-weight: 500;

}

.btn-capacity{
  font-size: 0.5rem;
  border-radius: 0px;
  

}

/* Estilos para as cores disponíveis */
.cores-disponiveis-mac li {
  width: 0.5rem; /* largura */
  height: 0.5rem; /* altura */
  border-radius: 50%; /* borda arredondada */
  cursor: pointer; /* Define o cursor como um ponteiro */

  /* Outras propriedades de estilo */
}

/* Estilo para a cor ativa */
.cores-disponiveis li.active {
  border: 2px solid #FF2878;
  
   /* Exemplo: azul */
  /* Outros estilos desejados para a cor ativa */
}

/* Estilos para as cores individuais */
.cor-preto {
  background-color: #4a4c4e;
}



.cor-rosa {
  background-color: #eb9594;
}

.cor-azul {
  background-color: #a0cee7;
}

.cor-verde {
  background-color: #1bb107;
}

.cor-amarelo {
  background-color: #fbff00;
}

.chip-text{
  font-size: 1rem;
  font-weight: 500;

}

.chip-image{
  height: 0.5rem;
  width: 0.5rem;
}